.content {
  .content__header {
    position: sticky;
    top: -1px;
    left: 0;
    z-index: var(--z-index-content);

    padding-block: 11px 16px;

    background-color: var(--white);

    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .content__filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 2px;

    list-style: none;

    background-color: var(--gray-300);
    border-radius: 15px;
  }

  .content__filterItem {
    border-radius: inherit;

    .content__filterButton {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 10px;

      color: var(--black);

      border-radius: inherit;

      transition:
        color 0.3s ease 0s,
        background-color 0.3s ease 0s;
    }

    .content__filterButton_active {
      color: var(--blue);

      background-color: var(--blue-100);
    }
  }

  .content__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;

    list-style: none;

    .content__item {
      position: relative;

      border-radius: 15px;

      .content__itemContainer {
        display: grid;
        grid-template-columns: 60px 1fr;
        align-items: center;
        gap: 10px;
        padding: 10px;

        background-color: var(--gray-300);
        border-radius: inherit;
      }

      .content__itemWrapper {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }

      .content__button {
        display: flex;
        grid-column: 1 / -1;
        justify-content: center;
        align-items: center;
        gap: 5px;
        min-width: 80px;
        padding: 5px;

        background-color: var(--gray-500);
        border: 1px solid var(--gray-300);
        border-radius: 10px;

        transition: border-color 0.3s ease 0s;

        &:not(.content__button_active):disabled {
          background-color: var(--gray-500);
          border: 1px solid var(--gray-300);

          cursor: not-allowed;
        }

        &_active {
          background-color: var(--blue-100);
          border: 1px solid var(--blue);

          cursor: not-allowed;

          .content__currency {
            color: var(--blue);
          }
        }

        &_buy {
          background-color: var(--black);
          border: 1px solid transparent;

          .content__currency {
            color: var(--white);
          }
        }
      }

      .content__currency {
        display: flex;
        align-items: center;
        gap: 5px;

        color: var(--gray-300);
      }

      .content__description {
        grid-column: 1 / -1;
        margin-top: 5px;
        padding-top: 5px;

        border-top: 1px solid var(--black);
      }
    }
  }
}
