.typography {
  margin: 0;
  padding: 0;

  font-style: normal;
  letter-spacing: 0;
  overflow-wrap: break-word;
  color: inherit;

  transition: color 0.3s ease;
}

/* Typography variants */

.typography_inherit {
  font: inherit;
}

.typography_display {
  font: var(--font-display);
}

.typography_heading {
  font: var(--font-heading);
}

.typography_heading-semiBold {
  font: var(--font-heading-semiBold);
}

.typography_section {
  font: var(--font-section);
}

.typography_body {
  font: var(--font-body);
}

.typography_caption {
  font: var(--font-caption);
}

.typography_caption-medium {
  font: var(--font-caption-medium);
}

.typography_caption-semiBold {
  font: var(--font-caption-semiBold);
}

.typography_caption-bold {
  font: var(--font-caption-bold);
}

.typography_p2-bold {
  font: var(--font-p2-semiBold);
}

.typography_p2-semiBold {
  font: var(--font-p2-semiBold);
}

.typography_p3 {
  font: var(--font-p3);
}

.typography_p3-semiBold {
  font: var(--font-p3-semiBold);
}

.typography_p4-bold {
  font: var(--font-p4-bold);
}

.typography_p4-regular {
  font: var(--font-p4-regular);
}

/* Colors */

.typography_color_inherit {
  color: inherit;
}

.typography_color_white {
  color: var(--white);
}

.typography_color_gray100 {
  color: var(--gray-100);
}

.typography_color_gray200 {
  color: var(--gray-200);
}

.typography_color_gray250 {
  color: var(--gray-250);
}

.typography_color_gray500 {
  color: var(--gray-500);
}

.typography_color_black {
  color: var(--black);
}

.typography_color_blue {
  color: var(--blue);
}

.typography_color_green {
  color: var(--green);
}

.typography_color_green400 {
  color: var(--green-400);
}

.typography_color_green700 {
  color: var(--green-700);
}

.typography_color_red {
  color: var(--red);
}

.typography_color_purple {
  color: var(--purple);
}
