.gamificationDashboard {
  position: relative;

  display: grid;
  grid-template:
    'tasks awards' minmax(150px, 1fr)
    'leaderboard activity' minmax(150px, 1fr)
    'shop shop' minmax(114px, auto)
    'summary summary' minmax(114px, auto)
    'rules rules' minmax(114px, auto) / 1fr 1fr;
  gap: 6px;

  .gamificationDashboard__title {
    position: absolute;

    font-size: 0;

    visibility: hidden;
  }

  .gamificationDashboard__summary {
    grid-area: summary;
  }

  .gamificationDashboard__shop {
    grid-area: shop;
  }

  .gamificationDashboard__rules {
    grid-area: rules;
  }

  .gamificationDashboard__tutorialTarget {
    display: flex;

    > article {
      flex: 1;
    }
  }
}
