.panel {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .panel__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    background-color: var(--gray-200);
    border-radius: 16px;

    .panel__headerCount {
      display: flex;
      align-items: center;
    }
  }

  .panel__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 0;

    .panel__item {
      display: grid;
      grid-template:
        'icon title' auto
        'icon description' auto
        / auto 1fr;
      column-gap: 10px;
      padding-block: 5px;

      .panel__icon {
        display: block;
        grid-area: icon;
        width: 100%;
        max-width: 25px;
        height: auto;
      }

      .panel__title {
        grid-area: title;
        padding-bottom: 2px;
      }

      .panel__description {
        grid-area: description;
      }
    }
  }
}
