@use './fonts';

:root {
  /* Colors */
  --white: #fff;
  --gray-100: #f7f7f7;
  --gray-200: #f2f2f2;
  --gray-250: #ececec;
  --gray-300: #e5e5e5;
  --gray-500: #8a8a8a;
  --black: #0f0f0f;
  --blue-100: #e7f6ff;
  --blue: #0af;
  --green-100: #eff9dd;
  --green-400: #97cf26;
  --green-500: #10b356;
  --green-700: #4d8e00;
  --red-100: #f8c0c6;
  --red: #ff4053;
  --orange: #f1ae41;
  --purple: #a169f7;

  /* Z-index */
  --z-index-content: 1;
  --z-index-content-action: 2;
  --z-index-modal-overlay: 400;
  --z-index-welcome-overlay: 500;
  --z-index-header: 300;
  --z-index-bottom-panel-overlay: 400;

  /* Typography */
  --font-primary: 'Manrope', 'Inter', -apple-system, 'Segoe UI', arial, sans-serif;
  --font-display: normal 700 32px / 44px var(--font-primary);
  --font-display-normal: normal 400 32px / 44px var(--font-primary);
  --font-heading: normal 700 24px / 33px var(--font-primary);
  --font-heading-semiBold: normal 700 24px / 33px var(--font-primary);
  --font-section: normal 700 20px / 27px var(--font-primary);
  --font-body: normal 400 16px / 22px var(--font-primary);
  --font-caption: normal 400 12px / 17px var(--font-primary);
  --font-caption-medium: normal 600 12px / 17px var(--font-primary);
  --font-caption-semiBold: normal 600 12px / 17px var(--font-primary);
  --font-caption-bold: normal 700 12px / 17px var(--font-primary);
  --font-p2-bold: normal 700 14px / 18px var(--font-primary);
  --font-p2-semiBold: normal 600 14px / 18px var(--font-primary);
  --font-p3: normal 700 16px / 16px var(--font-primary);
  --font-p3-semiBold: normal 600 16px / 16px var(--font-primary);
  --font-p4-bold: normal 700 10px / 16px var(--font-primary);
  --font-p4-regular: normal 400 10px / 14px var(--font-primary);
}
