.page__main {
  flex: 1;
  min-height: 0;
  padding-bottom: max(0px, env(safe-area-inset-bottom));
  overflow: hidden;
  overflow-y: auto;

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (width < 600px) {
  .page__main {
    padding-bottom: max(0px, env(safe-area-inset-bottom));
    overflow-y: visible;
  }
}
